<app-profile-bar [name]="receiver"></app-profile-bar>
<div class="card">
  <app-message
    *ngFor="let message of messages | async"
    [message]="message.text"
    [received]="message.received"
  ></app-message>
</div>
<app-chat-input (onChange)="chatInputChange($event)"></app-chat-input>
<app-send-button (onClick)="sendMessage()"></app-send-button>
