<form>
  <div class="form-group">
    <input
      [(ngModel)]="chatInput"
      name="chatInput"
      #ctrl="ngModel"
      type="text"
      class="form-control"
      (input)="handleChange($event)"
    />
  </div>
</form>
